[package]
name = "geoserde"
version = "0.4.1"
edition = "2021"
description = "Adapter between geographic features and GIS files"
repository = "https://github.com/p4ken/geoserde"
license = "MIT"
exclude = [".*"]

[features]
default = ["geozero"]
geozero = ["dep:geozero"]

[dependencies]
geo-types = { version = "0.7.11" }
geozero = { version = "0.12.0", optional = true }
serde = { version = "1.0.188" }

[dev-dependencies]
anyhow = { version = "1.0.75", features = ["backtrace"] }
flatgeobuf = { version = "=4.1.0", default-features = false }
geo-types = { version = "0.7.11", features = ["serde"] }
geozero = { version = "0.12.0" }
serde = { version = "1.0.188", features = ["derive"] }
